<!-- jumbotron: name & brief description -->
<div class="jumbotron">
    <div class="container">
        <h1>Good Help</h1>
        <h2>(is hard to find)</h2>
        <p>This is a description about what this app is and why it matters.</p>
        <!-- Angular and MongoDB test -->
        <button ng-click="ctrl.listOrg()" type="submit">Get Orgs</button>
        <p ng-repeat="org in ctrl.org">{{ org.name }}, review: "{{ org.review }}"</p>
    </div>
</div>
<!-- image -->
<div class="container-fluid">
    <img src="../assets/phone.jpg" class="img-responsive" alt="Red phone and phone cord" />
</div>
