<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../assets/map.jpeg" class="img-responsive" alt="map" />
        </div>
        <!-- createProfile page -->
        <div class="col-md-4">
            <h3>{{ ctrl.selectedProfile.name }}</h3>
            <p>{{ ctrl.selectedProfile.formatted_address }}</p>
            <div class="container">
                <span class="glyphicon glyphicon-heart"></span>
                <span class="glyphicon glyphicon-heart"></span>
                <span class="glyphicon glyphicon-heart"></span>
                <span class="glyphicon glyphicon-heart"></span>
                <span class="glyphicon glyphicon-heart-empty"></span>
            </div>
            <button type="button" ng-click="ctrl.createReview()" class="btn btn-primary">Leave a review</button>
            <hr />
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div ng-repeat="review in ctrl.reviews">
          <p>Review: "{{ review.tasks }}"</p>
        </div>
      </div>
    </div>
</div>
