<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../assets/map.jpeg" class="img-responsive" alt="map" />
        </div>
        <!-- createProfile page -->
        <div class="col-md-4">
            <h2>{{ ctrl.selectedProfile.name }}</h2>
            <h3>{{ ctrl.selectedProfile.formatted_address }}</h3>
            <!-- <div class="container">
                <span class="glyphicon glyphicon-heart"></span>
                <span class="glyphicon glyphicon-heart"></span>
                <span class="glyphicon glyphicon-heart"></span>
                <span class="glyphicon glyphicon-heart"></span>
                <span class="glyphicon glyphicon-heart-empty"></span>
            </div> -->
            <button type="button" ng-click="ctrl.createReview()" class="btn btn-primary">Leave a review</button>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h4>Reviews</h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Was your time well spent?</th>
                            <th>What type of task(s) were you doing?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="review in ctrl.reviews | orderBy: 'timeUsedWisely'">
                            <td>{{ review.timeUsedWisely }}</td>
                            <td>"{{ review.tasks }}"</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
