<div class="container">
    <h1>Search results:</h1>
    <div class="row">
        <div ng-repeat="result in ctrl.searchedPlaces" class="col-md-12">
          <h3>{{ result.name }}</h3>
          <p>{{ result.formatted_address }}</p>
          <!-- <img ng-src="{{result.photos.html_attributions["0"]}}" class="img-responsive" alt="google map image" /> -->
          <button type="button" class="btn btn-primary">Leave a review</button>
          <a class="btn btn-info" data="{{result.id}}" href="/profile" ng-click="ctrl.createProfile(result)">View profile</a>
          <hr />
        </div>
    </div>
</div>
